@{
    ViewData["Title"] = "Login";
}
<h2>@ViewData["Title"]</h2>

<div>
    <ul style="list-style-type:none">
        <li><input class="usernamebar" type="text" placeholder="Enter your username"></li>
        <li><input class="passwordbar" type="text" placeholder="Enter your password"></li>
        <li><input class="loginbutton" type="submit" value="Login"></li>
        <li><input class="forgotbutton" type="submit" value="Forgot your password?"></li>
    </ul>
</div>