@{
    ViewData["Title"] = "Home Page";
}
<div class="categories">
    <h3 class="marbot">Categories</h3>
    <div class="btn-group-vertical" role="group" aria-label="...">
        <button type="button" class="btn btn-default">Action</button>
        <button type="button" class="btn btn-default">Romance</button>
        <button type="button" class="btn btn-default">Comedy</button>
        <button type="button" class="btn btn-default">Young Adult</button>
        <button type="button" class="btn btn-default">Philosophy</button>
        <button type="button" class="btn btn-default">Non-Fiction</button>
    </div>
</div>

<div class="topselling">
    <h3 class="marbot">Top Selling books</h3>
    <div class="topselcon">
        <div class="topselit">
            <a href=""><img class="topselimg" src="https://images.gr-assets.com/books/1348990566l/5470.jpg" alt=""></a>
            <h5>1984 - George Orwell</h5>
        </div>
        <div class="topselit">
            <a href=""><img class="topselimg" src="https://images.gr-assets.com/books/1348990566l/5470.jpg" alt=""></a>
            <h5>1984 - George Orwell</h5>
        </div>
        <div class="topselit">
            <a href=""><img class="topselimg" src="https://images.gr-assets.com/books/1348990566l/5470.jpg" alt=""></a>
            <h5>1984 - George Orwell</h5>
        </div>
    </div>
</div>
