@{
    ViewData["Title"] = "Home Page";
}
<div class="categories">
    <h3 class="marbot">Categories</h3>
    <div class="btn-group-vertical" role="group" aria-label="...">
        <button type="button" class="btn btn-default">Action</button>
        <button type="button" class="btn btn-default">Romance</button>
        <button type="button" class="btn btn-default">Comedy</button>
        <button type="button" class="btn btn-default">Young Adult</button>
        <button type="button" class="btn btn-default">Philosophy</button>
        <button type="button" class="btn btn-default">Non-Fiction</button>
    </div>
</div>
