<h1>Philosophy Books</h1>
<div class="categories">
    <h3 class="marbot">Categories</h3>
    <div class="btn-group-vertical categorylist" role="group" aria-label="...">
        <button type="button" class="btn btn-default btnover" onclick="location.href = 'http://localhost:5000/Home/Action';">Action</button>
        <button type="button" class="btn btn-default btnover" onclick="location.href = 'http://localhost:5000/Home/Romance';">Romance</button>
        <button type="button" class="btn btn-default btnover" onclick="location.href = 'http://localhost:5000/Home/Comedy';">Comedy</button>
        <button type="button" class="btn btn-default btnover" onclick="location.href = 'http://localhost:5000/Home/YoungAdult';">Young Adult</button>
        <button type="button" class="btn btn-default btnover" onclick="location.href = 'http://localhost:5000/Home/Philosophy';" disabled>Philosophy</button>
        <button type="button" class="btn btn-default btnover" onclick="location.href = 'http://localhost:5000/Home/NonFiction';">Non-Fiction</button>
    </div>
</div>
<div class="specialoffer">
    <div class="speclit">
            <a href=""><img class="topselimg" src="https://images-na.ssl-images-amazon.com/images/I/51Yf4R-zfHL._SX310_BO1,204,203,200_.jpg" alt=""></a>
            <h5>The Philosophy of Aristotle by by Aristotle (Author),Renford Bambroug January 4, 2011</h5>
        </div>
        <div class="speclit">
            <a href=""><img class="topselimg" src="https://images-na.ssl-images-amazon.com/images/I/51Yf4R-zfHL._SX310_BO1,204,203,200_.jpg" alt=""></a>
            <h5>The Philosophy of Aristotle by by Aristotle (Author),Renford Bambroug January 4, 2011</h5>
        </div>
        <div class="speclit">
            <a href=""><img class="topselimg" src="https://images-na.ssl-images-amazon.com/images/I/51Yf4R-zfHL._SX310_BO1,204,203,200_.jpg" alt=""></a>
            <h5>The Philosophy of Aristotle by by Aristotle (Author),Renford Bambroug January 4, 2011</h5>
        </div>
            <div class="speclit">
            <a href=""><img class="topselimg" src="https://images-na.ssl-images-amazon.com/images/I/51Yf4R-zfHL._SX310_BO1,204,203,200_.jpg" alt=""></a>
            <h5>The Philosophy of Aristotle by by Aristotle (Author),Renford Bambroug January 4, 2011</h5>
        </div>
        <div class="speclit">
            <a href=""><img class="topselimg" src="https://images-na.ssl-images-amazon.com/images/I/51Yf4R-zfHL._SX310_BO1,204,203,200_.jpg" alt=""></a>
            <h5>The Philosophy of Aristotle by by Aristotle (Author),Renford Bambroug January 4, 2011</h5>
        </div>
        <div class="speclit">
            <a href=""><img class="topselimg" src="https://images-na.ssl-images-amazon.com/images/I/51Yf4R-zfHL._SX310_BO1,204,203,200_.jpg" alt=""></a>
            <h5>The Philosophy of Aristotle by by Aristotle (Author),Renford Bambroug January 4, 2011</h5>
        </div>
</div>