<h1>Young Adult Books</h1>
<div class="categories">
    <h3 class="marbot">Categories</h3>
    <div class="btn-group-vertical categorylist" role="group" aria-label="...">
        <button type="button" class="btn btn-default btnover" onclick="location.href = 'http://localhost:5000/Home/Action';">Action</button>
        <button type="button" class="btn btn-default btnover" onclick="location.href = 'http://localhost:5000/Home/Romance';">Romance</button>
        <button type="button" class="btn btn-default btnover" onclick="location.href = 'http://localhost:5000/Home/Comedy';">Comedy</button>
        <button type="button" class="btn btn-default btnover" onclick="location.href = 'http://localhost:5000/Home/YoungAdult';" disabled>Young Adult</button>
        <button type="button" class="btn btn-default btnover" onclick="location.href = 'http://localhost:5000/Home/Philosophy';">Philosophy</button>
        <button type="button" class="btn btn-default btnover" onclick="location.href = 'http://localhost:5000/Home/NonFiction';">Non-Fiction</button>
    </div>
</div>
<div class="specialoffer">
    <div class="speclit">
            <a href=""><img class="topselimg" src="https://images-na.ssl-images-amazon.com/images/I/51ncdrx0enL._SY346_.jpg" alt=""></a>
            <h5>Driehoek - Bradley Charbonneau (Author)</h5>
        </div>
        <div class="speclit">
            <a href=""><img class="topselimg" src="https://images-na.ssl-images-amazon.com/images/I/51ncdrx0enL._SY346_.jpg" alt=""></a>
            <h5>Driehoek - Bradley Charbonneau (Author)</h5>
        </div>
        <div class="speclit">
            <a href=""><img class="topselimg" src="https://images-na.ssl-images-amazon.com/images/I/51ncdrx0enL._SY346_.jpg" alt=""></a>
            <h5>Driehoek - Bradley Charbonneau (Author)</h5>
        </div>
        <div class="speclit">
            <a href=""><img class="topselimg" src="https://images-na.ssl-images-amazon.com/images/I/51ncdrx0enL._SY346_.jpg" alt=""></a>
            <h5>Driehoek - Bradley Charbonneau (Author)</h5>
        </div>
        <div class="speclit">
            <a href=""><img class="topselimg" src="https://images-na.ssl-images-amazon.com/images/I/51ncdrx0enL._SY346_.jpg" alt=""></a>
            <h5>Driehoek - Bradley Charbonneau (Author)</h5>
        </div>
        <div class="speclit">
            <a href=""><img class="topselimg" src="https://images-na.ssl-images-amazon.com/images/I/51ncdrx0enL._SY346_.jpg" alt=""></a>
            <h5>Driehoek - Bradley Charbonneau (Author)</h5>
        </div>
                
</div>