body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.categories {
    float: left;
    margin-top: 10px;
    padding-right: 10px;
    border-right: 2px solid rgb(201, 208, 216);
}
.marbot {
    margin-bottom: 20px;
}
.topselling {
    margin-top: 50px;
    float: right;
    border: 5px rgb(207, 200, 200);
    border-style: solid;
    padding: 10px;
    text-align: center;
}
.topselimg {
    width: 150px;
    height: 170px;
}
.topselit {
    border: 5px rgb(207, 200, 200);
    border-style: solid;
    margin: 10px;
}
.topselit:hover {
    border-color: red;
}
.specialoffer {
    height: 200px;
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
    display: inline-block;
}
.speclit {
    border: 5px rgb(207, 200, 200);
    border-style: solid;
    margin: 10px;
    width: 170px;
    display: inline-block;
}
.speclit:hover {
    border-color: red;
}